body{
    background-image: linear-gradient(#f0ead6, #D3D3D3);
    color: #808080;
    padding: 50px;
    font-family: Georgia;
    border: 10px solid white;
}

p{
    text-align: center;
}

h1 {
    border-bottom: 5px solid #ffffff;
    text-align:center
}

h2 {
    border-bottom: 3px solid #ffffff;
}

#first{
    border: 2px solid black;
}

#second{
    border: 2px solid black;
    width: 150px;
}

#third{
    border: 2px solid black;
    width: 175px;
}

#fourth{
    border: 2px solid black;
    width: 250px;
}

#fifth{
    border: 2px solid black;
    width: 150px;
}

#sixth{
    border: 2px solid black;
    width: 150px;
}

#seventh{
    border: 2px solid black;
    width: 300px;
}

#eighth{
    border: 2px solid black;
    width: 300px;
}

#ninth{
    border: 2px solid black;
    width: 150px;
}

#tenth{
    border: 2px solid black;
    width: 300px;
}